$dark-grey: #666666;
$grey: #788891;
$border-grey: #ebebeb;
$blue: #00b2ff;
$white: #ffffff;
$background-white: #fafafa;
$background-grey: #626962;
$background: #1b2d37;
$black: #000000;
$accordion-grey: #c4c4c4;
$logo-black: #203C42;
$header: #1b2d37;